<!-- Extending generic content from base template (Navbar & Footer) -->
{% extends "base.html" %} {% load crispy_forms_tags %} {% block content %}

<!-- Page Title and Message -->
<div class="container">
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <h3><i class="fa-regular fa-calendar-plus"></i> Create New Appointment</h3>

      <p>Additional information following soon</p>
    </div>
  </div>

  <!-- Create New Appointment Form -->
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <form class="appointment-form" method="post">
        {% csrf_token %}

       <!-- Render the entire form with crispy styling -->
      {{ form|crispy }}

      <!-- Specialisation Field -->
      <div class="form-group">

        {{ form.doctor_specialisation|crispy }}
      </div>

      <!-- Location Field -->
      <div class="form-group">
        {{ form.doctor_location|crispy }}
      </div>

      <!-- Dynamic Doctor Dropdown (Initially empty) -->
      <div class="form-group">
        {{ form.doctor|crispy }}
      </div>

      <!-- No Doctor available for option set -->
      <div id="no-doctor-message" style="display:none;">
        No doctors available for the selected specialisation and location.
      </div>

      <!-- Appointment Date Field -->
      <div class="form-group">
        {{ form.appointment_date|crispy }}
      </div>

      <!-- Additional Info Field -->
      <div class="form-group">
        {{ form.additional_info|crispy }}
      </div>

        <button type="submit" class="btn btn-proceed mt-3"><i class="fa-regular fa-calendar-plus"></i> 
          Create New Appointment
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
