<!-- Set up as main home page -->
<!-- Extending generic content from base template (Navbar & Footer) -->
{% extends "base.html" %} {% block content %}

<!-- Main content starts here -->
<!-- Hero Section -->
<div class="hero">
  <div class="hero-overlay"></div>
  <div class="hero-text">
      <h1>Welcome to Doctor Appointments</h1>
      <p>Discover the benefits of booking appointments online with us!</p>
  </div>
</div>

<!-- About Cards -->
<div class="container my-5">
  <div class="row">
      <!-- Reasons Card -->
      <div class="col-md-4">
          <div class="card">
              <img src="" class="card-img-top" alt="Card image">
              <div class="card-header">
                  <h5>REASONS TO BOOK ONLINE</h5>
                  <p class="card-text">Card Content</p>
              </div>
          </div>
      </div>

      <!-- How Card -->
      <div class="col-md-4">
          <div class="card">
              <img src="" class="card-img-top" alt="Card image">
              <div class="card-header">
                  <h5>HOW DOES IT WORK</h5>
                  <p class="card-text">Card Content</p>
              </div>
          </div>
      </div>

      <!-- Why Card -->
      <div class="col-md-4">
          <div class="card">
              <img src="" class="card-img-top" alt="Card image">
              <div class="card-header">
                  <h5>WHY USE US</h5>
                  <p class="card-text">Card Content</p>
              </div>
          </div>
      </div>
  </div>
</div>

{% endblock %}
