<!-- Extending generic content from base template (Navbar & Footer) -->
{% extends "base.html" %} 

<!-- Load Custon Filters from templatetags/custom_filters.py -->
{% load custom_filters %}

{% block content %}

<!-- Main content starts here -->
<div class="container mt-5">
  <div class="row">
    <!-- Profile Card -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="page-title"><i class="fa-regular fa-address-card"></i> Your Profile</h4>
        </div>
        <div class="card-body">
          {% if doctor_profile %}
          <!-- Doctor Profile -->
          <p>
            <strong>Name:</strong> {{ doctor_profile.title }} {{ doctor_profile.full_name }}
          </p>
          <p><strong>Practice:</strong> {{ doctor_profile.practice_name }}</p>
          <p><strong>Email:</strong> {{ doctor_profile.email }}</p>
          <p>
            <strong>Phone Number:</strong> {{ doctor_profile.phone_number }}
          </p>
          <p>
            <strong>Specialisation:</strong>
            {{ doctor_profile.specialisations|split:','|join:', ' }}
          </p>
          <p><strong>City:</strong> {{ doctor_profile.city }}</p>
          <p><strong>Address:</strong> {{ doctor_profile.address }}</p>
          <p><strong>Features:</strong> {{ doctor_profile.features }}</p>
          {% elif patient_profile %}
          <!-- Patient Profile -->
          <p><strong>Full Name:</strong> {{ patient_profile.full_name }}</p>
          <p><strong>Email:</strong> {{ patient_profile.email }}</p>
          <p>
            <strong>Phone Number:</strong> {{ patient_profile.phone_number }}
          </p>
          <p>
            <strong>Preferred Contact:</strong> {{ patient_profile.preferred_contact }}
          </p>
          {% endif %}
        </div>
      </div>
    </div>

    <!-- Appointments Card -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="page-title"><i class="fa-regular fa-calendar-check"></i> Your Next Appointment</h4>
        </div>
        <div class="card-body">
          {% if next_appointment %}
          <strong>Appointment Date:</strong> {{
          appointment.appointment_date|date:"F j, Y, g:i a" }}<br />
          {% if patient_profile %}
          <!-- If user is a Patient -->
          <p>
            <strong>Doctor:</strong>{{ next_appointment.doctor.title }} {{ next_appointment.doctor.full_name }}
          </p>
          <p>
            <strong>Practice:</strong> {{
            next_appointment.doctor.practice_name }}
          </p>
          <p>
            <strong>Specialisation:</strong> {{
            next_appointment.doctor_specialisation.specialisation_name }}
          </p>
          <p><strong>Address:</strong> {{ next_appointment.doctor.address }}</p>
          <p>
            <strong>Location:</strong> {{ next_appointment.doctor_location.city
            }}
          </p>
          <p>
            <strong>Email:</strong> {{ next_appointment.doctor_location.email
            }}
          </p>
          <p>
            <strong>Phone Number:</strong> {{ next_appointment.doctor_location.phone_number
            }}
          </p>
          <p>
            <strong>Features:</strong> {{ next_appointment.doctor.features }}
          </p>
          {% elif doctor_profile %}
          <!-- If user is a Doctor -->
          <p>
            <strong>Patient:</strong> {{ next_appointment.patient.full_name }}
          </p>
          <strong>Patient Email:</strong> {{ next_appointment.patient.email }}
          </p>
          <strong>Patient Phone Number:</strong> {{ next_appointment.patient.phone_number }}
          </p>
          <p>
            <strong>Location:</strong> {{ next_appointment.doctor_location.city
            }}
          </p>
          {% endif %}
          <p>
            <strong>Additional Information:</strong> {{
            next_appointment.additional_info }}
          </p>
          {% else %}
          <p>You don't have any upcoming appointments.</p>
          {% endif %}
          <a href="{% url 'view_all_appointments' %}" class="btn btn-confirm mt-3"
          ><i class="fa-regular fa-calendar"></i> View All Appointments</a
        >
        <a
          href="{% url 'view_create_appointment' %}"
          class="btn btn-confirm mt-3 float-end"
          ><i class="fa-regular fa-calendar-plus"></i> Create New Appointment</a
        >
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
