<!-- Extending generic content from base template (Navbar & Footer) -->
{% extends "base.html" %} {% load crispy_forms_tags %} {% block content %}

<!-- Main content starts here -->
<div class="container">
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <h3>Create a Doctor Profile</h3>

      <p>Additional information following soon</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <form method="post">
        {% csrf_token %} {{ form | crispy }}
        <button class="btn btn-secondary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
